* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav { 
    padding-top: 10px; 
    display: flex; 
    justify-content: center; 
    background: #2B3844;
    gap: 1000px;
    height: 80px;
    font-size: 24px;
    
    

} 

.img {
    width: 560px;
    height: 399px;
}
nav ul{ 
    list-style-type: none; 
    display: flex; 
    gap: 40px; 
    padding-top: 20px;
} 
nav ul li a { 
    text-decoration: none; 
    color: white;
    
} 
.nav-left {
    display: flex;
    gap: 15px;
}

.fa-solid {
   color: white;
   padding-top: 20px;
}

.container {
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    background: #202C36;

}

button {
    width: 75px;
    margin-top: 25px;
    margin-left: 50px;
    background: #2B3844;
    color: white;
    height: 30px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
   
}

.text p {
    font-size: 32px;
}

.text {
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

.btn {
    margin-left: 50px;
    color: white;
    width: 460px;
    display: flex;
    justify-content: space-between;
}

@media (max-width :375px) {
    .row {
        justify-content: center;
        flex-wrap: wrap;
       
    }
}
h5 {
    font-size: 50px;
}